@using EventManagement.Models
@using Microsoft.AspNetCore.Components
@inject NavigationManager Nav

<div class="card p-3 m-2" style="width: 18rem;">
    <h5>@Event.Title</h5>
    <p>@Event.StartDateTime.ToString("dd/MM/yyyy HH:mm")</p>
    <p>@Event.Location</p>
    <p>
        <small>
            @(Event.Subscriptions?.Count ?? 0)/@Event.MaxParticipants iscritti
        </small>
    </p>

    <a class="btn btn-primary" href="@($"/eventdetails/{Event.Id}")">
        View Details
    </a>
</div>

@code {
    [Parameter] public Event Event { get; set; } = null!;
}
